.container {
    border: 2px solid black;
    margin: 4px;
}

.wrap {
    display: flex;
    flex-flow: row wrap;
}

.column {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.right {
    text-align: right;
}

.button {
    width: 80px;
    text-align: center;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.send-button {
    width: 20px;
    text-align: center;
    cursor: pointer;
}

.main {
    min-width: 300px;
    max-width: 500px;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.input-box {
    border: none;
    width: 99%;
    outline: none;
}

.text-message {
    margin: 5px;
}

.sent-message {
    max-width: 90%;
    margin-right: 5px;
    margin-left: auto;
    margin-top: 5px;
    background-color: #cccccc;

}

.received-message {
    max-width: 90%;
    margin: 5px;
    background-color: #cccccc;
}

.dialog-box {
    min-height: 700px;
    max-height: 700px;
    overflow: auto;
    /*padding-top: 50%;*/
}

.time {
    text-align: right;
    color: dimgray;
    font-size: 12px;
    font-style: italic;
}

.b-popup{
    width:100%;
    height: 2000px;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
}
.b-popup .b-popup-content{
    margin:40px auto 0px auto;
    width: 60%;
    height: 300px;
    padding:10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px #000;
}

.space {
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
}